﻿<div class="ps-3 navbar navbar-dark" style="background-color: rgba(0,0,0,0.4)">
    <div class="container-fluid row">
        <a class="navbar-brand" href="">ИСС "Премьер-Лига"</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container-fluid row">
        <AuthorizeView>
            <Authorized>
                <span class="navbar-brand">@(string.IsNullOrEmpty(Config.UserName) ? "Неизвестный" : Config.UserName)</span>
                <a href="logout" class="btn btn-primary">Выйти</a>
            </Authorized>
            <NotAuthorized>
                <span class="navbar-brand">Гость</span>
                <a href="login" class="btn btn-primary">Авторизоваться</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Домашняя страница
                    </NavLink>
                    <NavLink class="nav-link" href="PlayersByClub">
                        <span class="oi oi-home" aria-hidden="true"></span>Статистика игроков по команде
                    </NavLink>
                    @if (context.User.IsInRole("Admin"))
                    {
                        <NavLink class="nav-link" href="GenerateCalendar">
                            <span class="oi oi-calendar" aria-hidden="true"></span>Генерация календаря
                        </NavLink>
                        <NavLink class="nav-link" href="EditMatchTime">
                            <span class="oi oi-clock" aria-hidden="true"></span>Редактирование матчей
                        </NavLink>
                    }
                    <NavLink class="nav-link" href="TournamentTableReal">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span>Турнирная таблица
                    </NavLink>
                    @if (context.User.IsInRole("Referee"))
                    {
                        <NavLink class="nav-link" href="ProtocoleRegistration">
                            <span class="oi oi-pin" aria-hidden="true"></span>Регистрация протокола
                        </NavLink>
                        <NavLink class="nav-link" href="DownloadProtocole">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>Скачивание протокола на матч
                        </NavLink>
                    }
                    @if (context.User.IsInRole("Coach"))
                    {
                        <NavLink class="nav-link" href="CreateSquad">
                            <span class="oi oi-pencil" aria-hidden="true"></span>Формирование заявки на матч
                        </NavLink>
                    }
                    @if (context.User.IsInRole("Admin"))
                    {
                        <NavLink class="nav-link" href="PointsFine">
                            <span class="oi oi-minus" aria-hidden="true"></span> Снятие очков по КДК
                        </NavLink>
                        <NavLink class="nav-link" href="Disqualificate">
                            <span class="oi oi-media-stop" aria-hidden="true" style="color: red"></span> Дисквалификация по решению КДК
                        </NavLink>
                    }
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Домашняя страница
                    </NavLink>
                    <NavLink class="nav-link" href="PlayersByClub">
                        <span class="oi oi-home" aria-hidden="true"></span>Статистика игроков по команде
                    </NavLink>
                    <NavLink class="nav-link" href="TournamentTableReal">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span>Турнирная таблица
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
