﻿@page "/counter"
@using MongoDB.Driver
@inject MongoClient Db

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me (@fuckThisShit())</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private bool fuckThisShit()
    {
        return Db.GetDatabase("premierleague") != null;
    }
}
