﻿@page "/CreateSquad"
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using MongoDB.Bson
@using System.Linq
@using BlazorRPL.Infrastructure
@inject MongoClient Db
@inherits CreateSquadModel
<div class="row">
    <h2>Ближайший матч: @CreateSquadViewModel.TeamDictionary[CreateSquadViewModel.NextMatch.HomeClubId] - @CreateSquadViewModel.TeamDictionary[CreateSquadViewModel.NextMatch.AwayClubId]</h2>
    <h2>Ближайший тур: @CreateSquadViewModel.NextMatch.Round</h2>
    <h3>Необходимо заявить 18 футболистов.</h3>
    <h3>В основном составе необходимо заявить как минимум <b>ТРОИХ</b> футболистов из России</h3>
    <h3>Всего в заявке должно быть минимум <b>ПЯТЬ</b> футболистов из России</h3>
    <h4>Напоминание: в случае нахождения на поле менее трех футболистов из России в любой момент игры, клуб наказывается <b>техническим поражением!</b></h4>
    <h4>Игроки с гражданством России выделены полужирным шрифтом</h4>
    <div class="col-md-6 offset-md-3">
        <EditForm Model="CreateSquadViewModel" OnValidSubmit="CreateSquadAsync">
            <h3>Основной состав:</h3>
            @for (var i = 0; i < 11; i++)
            {
                var localI = i;
                
                <InputSelect @bind-Value="CreateSquadViewModel.PlayersInSquad[localI].Number" class="form-control my-1" required>
                    <option value="0" selected disabled>-Введите игрока-</option>
                    @if (localI != 0)
                    {
                        var fieldPlayers = CreateSquadViewModel.PlayersInClub
                            .Where(x => x.Player.Position == PositionEnum.FieldPlayer)
                            .ToList();
                        @for (var j = 0; j < fieldPlayers.Count; j++)
                        {
                            var localJ = j;
                            @if (!fieldPlayers[localJ].IsDisqualified)
                            {
                                <option value="@fieldPlayers[localJ].Number" style="@(fieldPlayers[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(fieldPlayers[localJ].Number). @fieldPlayers[localJ].Player.NameOnShirt</option>
                            }
                            else
                            {
                                <option value="@fieldPlayers[localJ].Number" disabled style="@(fieldPlayers[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(fieldPlayers[localJ].Number). @fieldPlayers[localJ].Player.NameOnShirt (дисквалифицирован до: @FormatDate(fieldPlayers[localJ].DisqualifiedTo), причина: @fieldPlayers[localJ].Reason)</option>
                            }
                        }
                    }
                    else
                    {
                        var goalKeepers = CreateSquadViewModel.PlayersInClub
                            .Where(x => x.Player.Position == PositionEnum.Goalkeeper)
                            .ToArray();
                        @for (var j = 0; j < goalKeepers.Length; j++)
                        {
                            var localJ = j;
                            @if (!goalKeepers[localJ].IsDisqualified)
                            {
                                <option value="@goalKeepers[localJ].Number" style="@(goalKeepers[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(goalKeepers[localJ].Number). @goalKeepers[localJ].Player.NameOnShirt</option>
                            }
                            else
                            {
                                <option value="@goalKeepers[localJ].Number" disabled style="@(goalKeepers[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(goalKeepers[localJ].Number). @goalKeepers[localJ].Player.NameOnShirt (дисквалифицирован до: @FormatDate(goalKeepers[localJ].DisqualifiedTo), причина: @goalKeepers[localJ].Reason)</option>
                            }
                        }
                    }
                </InputSelect>
            }
            <h3>Запасные игроки:</h3>
            @for (var i = 0; i < 7; i++)
            {
                var localI = i;
                <InputSelect @bind-Value="CreateSquadViewModel.PlayersInSquad[localI+11].Number" class="form-control my-1" required>
                    <option value="0" selected disabled>-Введите игрока-</option>
                    @for (var j = 0; j < CreateSquadViewModel.PlayersInClub.Count(); j++)
                    {
                        var localJ = j;
                        var player = CreateSquadViewModel.PlayersInClub[localJ];
                        @if (!player.IsDisqualified)
                        {
                            <option value="@CreateSquadViewModel.PlayersInClub[localJ].Number" style="@(CreateSquadViewModel.PlayersInClub[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(CreateSquadViewModel.PlayersInClub[localJ].Number). @CreateSquadViewModel.PlayersInClub[localJ].Player.NameOnShirt</option>
                        }
                        else
                        {
                            <option value="@CreateSquadViewModel.PlayersInClub[localJ].Number" disabled style="@(CreateSquadViewModel.PlayersInClub[localJ].Player.Country == "Россия" ? "font-weight: 700;" : "")">@(CreateSquadViewModel.PlayersInClub[localJ].Number). @CreateSquadViewModel.PlayersInClub[localJ].Player.NameOnShirt (дисквалифицирован до: @FormatDate(player.DisqualifiedTo), причина: @player.Reason)</option>
                        }
                    }
                </InputSelect>
            }
            <p>
                <button type="submit" class="btn btn-primary">Внести заявку</button>
            </p>
        </EditForm>
    </div>
</div>

@code {
    public string FormatDate(DateTime d) => $"{d.Day}.{d.Month}.{d.Year}";
}
