﻿@page "/Disqualificate"
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using MongoDB.Bson
@inject MongoClient Db
@inherits PersonDisqualification

<div class="row">
    <h3>Укажите пользователя, причину и период дисквалификации</h3>
    <div class="col-md-6 offset-md-3">
        <EditForm Model="@PersonDisqualificationViewModel" OnValidSubmit="RegisterDisqualificationAsync">
            <InputSelect @bind-Value="@PersonDisqualificationViewModel.Name" class="form-control" required>
                @{
                    var dataStore = Db.GetDatabase("premierleague");
                    var collection = dataStore.GetCollection<Person>("person");
                    using var cursors = collection.FindSync(new BsonDocument());
                    var clubs = cursors.ToList().Where(x => x != null && x.Login != "root");
                    <option selected disabled>-Введите пользователя-</option>
                    foreach (var club in clubs.OrderBy(x => x.Name))
                    {
                        <option value="@club.Name">@club.Name</option>
                    }
                }
            </InputSelect>
            <label for="reason">Причина</label>
            <InputText id="reason" @bind-Value="PersonDisqualificationViewModel.Reason" class="form-control"></InputText>
            <label for="pts">Дисквалификация с:</label>
            <InputDate id="pts" @bind-Value="PersonDisqualificationViewModel.From" class="form-control"></InputDate>
            <label for="pts">Дисквалификация до:</label>
            <InputDate id="pts" @bind-Value="PersonDisqualificationViewModel.To" class="form-control"></InputDate>
            <p class="my-4">
                <button type="submit" class="btn btn-primary">Внести дисквалификацию</button>
            </p>
        </EditForm>
    </div>
</div>
