﻿@page "/DownloadProtocole"
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using MongoDB.Bson
@using System.Text
@inject MongoClient Db
@inherits DownloadProtocoleModel

<h2>Выберите матч для создания файла протокола</h2>
<div class="row">
    <EditForm Model="@DownloadProtocoleViewModel" OnValidSubmit="DownloadExcel">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-8">
                    <InputSelect @bind-Value="@DownloadProtocoleViewModel.ObjectIdStringSelected" class="form-control" required>
                        <option selected disabled value="">-Выберите матч-</option>
                        @foreach (var teamName in DownloadProtocoleViewModel.TeamDictionary)
                        {
                            Console.WriteLine(teamName.Value);
                        }
                        @foreach (var match in DownloadProtocoleViewModel.PossibleMatches)
                        {
                            <option value="@match.Id">@match.Round тур, @(DownloadProtocoleViewModel.TeamDictionary[match.HomeClubId]) - @(DownloadProtocoleViewModel.TeamDictionary[match.AwayClubId])</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Скачать протокол</button>
                </div>
            </div>
        </div>
        
    </EditForm>
</div>
@code {
    
}
