﻿@page "/EditMatchTime"
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using MongoDB.Bson
@using System.Linq
@using System.Reflection
@inject MongoClient Db
@inherits MatchEditDate

<div class="row">
    <h2>Выберите тур:</h2>
    <div class="col-md-6 offset-md-3">
        <EditForm Model="MatchEditDateViewModel" OnValidSubmit="GetMatchesInTourAsync">
            <div class="row">
                <div class="col-md-3">
                    <label for="tour">Введите тур</label>
                </div>
                <div class="col-md-3">
                    <InputSelect @bind-Value="MatchEditDateViewModel.Tour" class="form-control" required>
                        @{
                            <option selected disabled>-Введите тур-</option>
                            for (int i = 1; i <= 30; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="col-md-3 offset-md-3">
                    <p>
                        <button type="submit" class="btn btn-primary align-items-end">Показать матчи</button>
                    </p>
                </div>
            </div>
        </EditForm>
    </div>
</div>
@if (MatchEditDateViewModel.MatchesForTour != null && MatchEditDateViewModel.MatchesForTour.Length > 0)
{
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <EditForm Model="MatchEditDateViewModel" OnValidSubmit="EditMatchesAsync">
                <table class="table">
                    <thead>
                    <tr class="table-dark">
                        <th>Время начала матча</th>
                        <th>Хозяева</th>
                        <th>Гости</th>
                        <th>Арбитр</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < MatchEditDateViewModel.MatchesForTour.Length; i++)
                    {
                        var localI = i;
                        <tr class="table-warning">
                            <td>
                                    <InputDate @bind-Value="MatchEditDateViewModel.MatchesForTour[localI].Match.MatchTime" class="form-control">

                                </InputDate>
                            </td>
                                <td>@MatchEditDateViewModel.Clubs.First(x => x.Id == MatchEditDateViewModel.MatchesForTour[i].Match.HomeClubId).Name</td>
                                <td>@MatchEditDateViewModel.Clubs.First(x => x.Id == MatchEditDateViewModel.MatchesForTour[i].Match.AwayClubId).Name</td>
                            <td>
                                    <InputSelect @bind-Value="MatchEditDateViewModel.MatchesForTour[localI].RefereeIdString" class="form-control">
                                    <option selected disabled>-Выберите арбитра-</option>
                                    @for (var j = 0; j < MatchEditDateViewModel.AvailableReferees.Length; j++)
                                    {
                                        var localJ = j;
                                        <option value="@MatchEditDateViewModel.AvailableReferees[localJ].Id.ToString()">@MatchEditDateViewModel.AvailableReferees[localJ].Person.Name (@MatchEditDateViewModel.AvailableReferees[localJ].City)</option>
                                    }
                                </InputSelect>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <p class="my-4">
                    <button type="submit" class="btn btn-primary">Внести изменения</button>
                </p>
            </EditForm>
        </div>
    </div>
    @if (MatchEditDateViewModel.IsSuccess)
    {
        <p class="my-4">Операция выполнена успешно!</p>
    }
}
@code {

}
