﻿@page "/GenerateCalendar"
@using BlazorRPL.Data
@using BlazorRPL.Mappings
@using MongoDB.Bson
@inject CalendarGenerationService GenerationService
@using MongoDB.Driver
@inject MongoClient Db
<h3>Генерация календаря на сезон</h3>

<button class="btn btn-primary" @onclick="GetCalendar">Сгенерировать!</button>
<div class="container">
    <div class="row">
        <span id="timeNow">&nbsp;</span>
        @{
            if (!isGenerating)
            {
                var iCounter = finalSchedule.Any() ? finalSchedule.Select(x => x.Tour).Max() * 2 : 0;
                for (var i = 1; i <= iCounter; i++)
                {
                    var matchInTours = finalSchedule.Where(x => i <= 15 ? x.Tour == i : x.Tour == i - 15).ToArray();
                    <div class="text-center col-3 border border-1 border-dark mb-3 ms-5 me-5" id="stopTime"><b>Тур @i:</b>
                        @for (var j = 1; j <= 8; j++)
                        {
                            <div class="row" style="font-size: 14px">
                                <div class="col-5 text-start" style="white-space: nowrap">@GetHome(matchInTours[j - 1])</div>
                                <div class="col-2 text-center">vs.</div>
                                <div class="col-5 text-end" style="white-space: nowrap">@GetAway(matchInTours[j - 1])</div>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <h1 class="text-center">Подождите, операция выполняется</h1>
            }
        }
    </div>
</div>
@{
    if (!isGenerating && finalSchedule.Any())
    {
        <button class="btn btn-primary" @onclick="SaveToDb">Сохранить в базу данных</button>
    }
}
@code {
    private MatchFinale[] finalSchedule = new MatchFinale[] { };
    private IMongoDatabase dataStore;
    private bool isGenerating = false;

    public string GetHome(MatchFinale match) => match.Tour <= 15 ? match.Team1 : match.Team2;

    public string GetAway(MatchFinale match) => match.Tour <= 15 ? match.Team2 : match.Team1;

    public async Task GetCalendar()
    {
        isGenerating = true;
        dataStore = Db.GetDatabase("premierleague");
        finalSchedule = new MatchFinale[] { };
        var teamCollection = dataStore.GetCollection<Club>("club");
        using var cursors = await teamCollection.FindAsync(new BsonDocument());
        var teams = cursors.ToList().Where(x => x != null).ToArray();
        var top5Names = new string[] { "Зенит", "Краснодар", "Локомотив", "ЦСКА", "Спартак" };
        var ecNames = new string[] { "Зенит", "Сочи", "Краснодар", "ЦСКА", "Динамо", "Локомотив" };
        var top5Teams = teams.Where(x => top5Names.Contains(x.Name)).ToArray();
        var ecTeams = teams.Where(x => ecNames.Contains(x.Name)).ToArray();

        finalSchedule = GenerationService.GetCalendar(
            teams.Select(x => new CalendarGenerationService.Team(x.Name, x.City)).ToArray(), 
            top5Teams.Select(x => new CalendarGenerationService.Team(x.Name, x.City)).ToArray(),
            ecTeams.Select(x => new CalendarGenerationService.Team(x.Name, x.City)).ToArray());
        isGenerating = false;
    }

    public async Task SaveToDb()
    {
        dataStore = Db.GetDatabase("premierleague");
        var clubs = await GetClubs();

        var matchCollection = dataStore.GetCollection<Match>("match");
        await matchCollection.DeleteManyAsync(Builders<Match>.Filter.Empty);
        var matchesToInsert = new List<Match>();
        foreach (var match in finalSchedule)
        {
            var homeClub = clubs.FirstOrDefault(x => match.Team1 == x.Name);
            var awayClub = clubs.FirstOrDefault(x => match.Team2 == x.Name);
            matchesToInsert.Add(new Match
            {
                HomeClubId = homeClub.Id,
                SquadHome = new SquadModel
                {
                    Start = new int[] { }, 
                    Subs = new int[] { }
                },
                AwayClubId = awayClub.Id,
                SquadAway = new SquadModel
                {
                    Start = new int[] { },
                    Subs = new int[] { }
                },
                RefereeId = new ObjectId("63a083ffe828aa5288c7a4c9"), //хардкод на Рут
                Round = match.Tour,
                MatchTime = null,
                HomeScore = null,
                AwayScore = null,
                Protocole = null
            });
        }
        foreach (var match in finalSchedule)
        {
            var homeClub = clubs.FirstOrDefault(x => match.Team2 == x.Name);
            var awayClub = clubs.FirstOrDefault(x => match.Team1 == x.Name);
            matchesToInsert.Add(new Match
                {
                    HomeClubId = homeClub.Id,
                    SquadHome = new SquadModel
                    {
                        Start = new int[] { }, 
                        Subs = new int[] { }
                    },
                    AwayClubId = awayClub.Id,
                    SquadAway = new SquadModel
                    {
                        Start = new int[] { },
                        Subs = new int[] { }
                    },
                    RefereeId = new ObjectId("63a083ffe828aa5288c7a4c9"), //хардкод на Рут
                    Round = match.Tour + 15,
                    MatchTime = null,
                    HomeScore = null,
                    AwayScore = null,
                    Protocole = null
                });
        }
        await matchCollection.InsertManyAsync(matchesToInsert);
    }

    private async Task<Club[]> GetClubs()
    {
        var collection = dataStore.GetCollection<Club>("club");
        using var cursors = await collection.FindAsync(new BsonDocument());
        var clubs = cursors.ToList().Where(x => x != null).ToArray();
        return clubs;
    }
    private async Task<Person[]> GetPersons()
    {
        var collection = dataStore.GetCollection<Person>("person");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }
    private async Task<Player[]> GetPlayers()
    {
        var collection = dataStore.GetCollection<Player>("player");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    public class MatchFinale
    {
        public string Team1 { get; set; }
        public string Team2 { get; set; }
        public int Tour { get; set; }
    }
    
}