﻿@page "/"
@using MongoDB.Bson
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using System.Linq
@inject MongoClient Db
@inherits ShowMatchesModel
<PageTitle>Заглавная страница</PageTitle>
<div class="row">
    <!--Добавить коллапсы по стате-->
    <div class="col-md-8 offset-md-2">
        <EditForm Model="ShowMatchesViewModel" OnValidSubmit="ShowMatchesByRound">
            <div class="row mb-4">
                <div class="col-md-2" style="line-height: 200%;">
                    <label>Введите тур: </label>
                </div>
                <div class="col-md-5">
                    <InputSelect @bind-Value="@ShowMatchesViewModel.Round" class="form-control required">
                        <option selected disabled="">-Введите тур-</option>
                        @for (var i = 1; i <= 30; i++)
                        {
                            var localI = i;
                            <option value="@localI">@localI</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-4 offset-md-1">
                    <p>
                        <button type="submit" class="btn btn-primary">Показать матчи</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenAccordion Multiple="true">
                        <Items>
                            @for (var i = 0; i < ShowMatchesViewModel.Matches.Length; i++)
                            {
                                var localI = i;
                                var match = ShowMatchesViewModel.Matches[localI];
                                var homeName = ShowMatchesViewModel.Clubs.First(x => x.Id == match.HomeClubId).Name;
                                var homeScore = match.HomeScore != null ? match.HomeScore.ToString() : "-";
                                var awayScore = match.AwayScore != null ? match.AwayScore.ToString() : "-";
                                var awayName = ShowMatchesViewModel.Clubs.First(x => x.Id == match.AwayClubId).Name;
                                Console.WriteLine(homeName);
                                Console.WriteLine(awayName);
                                var txt = $"{homeName} ({homeScore} : {awayScore}) {awayName}";
                                <RadzenAccordionItem Text="@txt">
                                    @if (match.Protocole != null)
                                    {
                                        var matchProtocole = match.Protocole;
                                        <p>Голы:</p>
                                        var maxLen = Math.Max(match.HomeScore.Value, match.AwayScore.Value);
                                        var clubHome = ShowMatchesViewModel.Clubs.First(x => x.Id == match.HomeClubId);
                                        var clubAway = ShowMatchesViewModel.Clubs.First(x => x.Id == match.AwayClubId);
                                        
                                        for (var j = 0; j < maxLen; j++)
                                        {
                                            var localJ = j;
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @if (matchProtocole.GoalsHome.Length > localJ)
                                                    {
                                                        <p>⚽ @(matchProtocole.GoalsHome[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubHome.Players.First(x => x.Number == matchProtocole.GoalsHome[localJ].Number).PlayerId == y.Id).NameOnShirt) @(matchProtocole.GoalsHome[localJ].IsPenalty ? "(п)" : "")</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                                <div class="col-md-6">
                                                    @if (matchProtocole.GoalsAway.Length > localJ)
                                                    {
                                                        <p>⚽ @(matchProtocole.GoalsAway[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubAway.Players.First(x => x.Number == matchProtocole.GoalsAway[localJ].Number).PlayerId == y.Id).NameOnShirt) @(matchProtocole.GoalsAway[localJ].IsPenalty ? "(п)" : "")</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <p>Предупреждения:</p>
                                        maxLen = Math.Max(matchProtocole.YellowCardsHome.Length, matchProtocole.YellowCardsAway.Length);
                                        for (var j = 0; j < maxLen; j++)
                                        {
                                            var localJ = j;
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @if (matchProtocole.YellowCardsHome.Length > localJ)
                                                    {
                                                        <p>⚠️ @(matchProtocole.YellowCardsHome[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubHome.Players.First(x => x.Number == matchProtocole.YellowCardsHome[localJ].Number).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                                <div class="col-md-6">
                                                    @if (matchProtocole.YellowCardsAway.Length > localJ)
                                                    {
                                                        <p>⚠️ @(matchProtocole.YellowCardsAway[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubAway.Players.First(x => x.Number == matchProtocole.YellowCardsAway[localJ].Number).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <p>Удаления:</p>
                                        maxLen = Math.Max(matchProtocole.RedCardsHome.Length, matchProtocole.RedCardsAway.Length);
                                        for (var j = 0; j < maxLen; j++)
                                        {
                                            var localJ = j;
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @if (matchProtocole.RedCardsHome.Length > localJ)
                                                    {
                                                        <p>⛔ @(matchProtocole.RedCardsHome[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubHome.Players.First(x => x.Number == matchProtocole.RedCardsHome[localJ].Number).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                                <div class="col-md-6">
                                                    @if (matchProtocole.RedCardsAway.Length > localJ)
                                                    {
                                                        <p>⛔ @(matchProtocole.RedCardsAway[localJ].Minute)' @(ShowMatchesViewModel.Players.First(y => clubAway.Players.First(x => x.Number == matchProtocole.RedCardsAway[localJ].Number).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <p>Замены:</p>
                                        maxLen = Math.Max(matchProtocole.SubstitutionsHome.Length, matchProtocole.SubstitutionsAway.Length);
                                        for (var j = 0; j < maxLen; j++)
                                        {
                                            var subsHome = matchProtocole.SubstitutionsHome.OrderBy(x => x.Minute).ToArray();
                                            var subsAway = matchProtocole.SubstitutionsAway.OrderBy(x => x.Minute).ToArray();
                                            var localJ = j;
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @if (matchProtocole.SubstitutionsHome.Length > localJ)
                                                    {
                                                        <p>@(subsHome[localJ].Minute)' <span style="color: red;">⬇</span> @(ShowMatchesViewModel.Players.First(y => clubHome.Players.First(x => x.Number == subsHome[localJ].NumberOut).PlayerId == y.Id).NameOnShirt) <span style="color: green;">⬆</span> @(ShowMatchesViewModel.Players.First(y => clubHome.Players.First(x => x.Number == subsHome[localJ].NumberIn).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                                <div class="col-md-6">
                                                    @if (matchProtocole.SubstitutionsAway.Length > localJ)
                                                    {
                                                        <p>@(subsAway[localJ].Minute)' <span style="color: red;">⬇</span> @(ShowMatchesViewModel.Players.First(y => clubAway.Players.First(x => x.Number == subsAway[localJ].NumberOut).PlayerId == y.Id).NameOnShirt) <span style="color: green;">⬆</span> @(ShowMatchesViewModel.Players.First(y => clubAway.Players.First(x => x.Number == subsAway[localJ].NumberIn).PlayerId == y.Id).NameOnShirt)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&nbsp;</p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>Матч не завершен или не состоялся</p>
                                    }
                                </RadzenAccordionItem>
                            }
                        </Items>
                    </RadzenAccordion>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code
{
}
