﻿@page "/login"
@using MongoDB.Bson
@using MongoDB.Driver
@inject MongoClient Db
@inherits LoginModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Форма авторизации</h1>
        <EditForm Model="@LoginViewModel" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <label for="username">Логин</label>
            <InputText id="username" @bind-Value="LoginViewModel.UserName" class="form-control"></InputText>
            <label for="password">Пароль</label>
            <InputText id="password" @bind-Value="LoginViewModel.Password" class="form-control" type="password"></InputText>

            <p class="my-4">
                <button type="submit" class="btn btn-primary">Войти</button>
            </p>
        </EditForm>
    </div>
</div>