﻿@page "/PlayersByClub"
@using MongoDB.Bson
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using System.Linq
@using ZstdSharp.Unsafe
@inject MongoClient Db
@inherits PlayersByClubModel


    
<EditForm Model="@PlayersByClubViewModel" OnValidSubmit="GetPlayersForClub">
    <div class="row">
        <div class="col-md-7">
            <InputSelect @bind-Value="@PlayersByClubViewModel.ClubId" class="form-control required">
                <option selected disabled="">-Введите команду-</option>
                @for (var i = 0; i < PlayersByClubViewModel.Clubs.Length; i++)
                {
                    var localI = i;
                    var team = PlayersByClubViewModel.Clubs[localI];
                    Console.WriteLine(team.Name);
                    <option value="@team.Id.ToString()">@(team.Name)</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-4 offset-md-1">
            <p>
                <button type="submit" class="btn btn-primary">Показать матчи</button>
            </p>
        </div>
    </div>
</EditForm>

<div class="row" style="background-color: black; color: white; line-height: 3em; height: 3em; text-align: center;">
    <div class="col-md-1">
        Номер
    </div>
    <div class="col-md-6">
        Футболист
    </div>
    <div class="col-md-1">
        Матчи
    </div>
    <div class="col-md-1">
        Минуты
    </div>
    <!-- Для вратарей схема -[пропущено] / [забито] (с пенальти) -->
    <div class="col-md-1">
        Голы (п)
    </div>
    <div class="col-md-1">
        ЖК
    </div>
    <div class="col-md-1">
        КК
    </div>
</div>
@for (var i = 0; i < PlayersByClubViewModel.Players.Length; i++)
{
    var player = PlayersByClubViewModel.Players[i];
    var isGk = player.Player.Position == PositionEnum.Goalkeeper;
    <div class="row my-1" style="background-color: white; color: black; line-height: 3em; height: 3em; text-align: center;">
        <div class="col-md-1">
            @player.Number @(isGk ? "(В)" : "")
        </div>
        <div class="col-md-6 text-start">
            @player.Player.NameOnShirt
        </div>
        <div class="col-md-1">
            @GetAllMatches(player)
        </div>
        <div class="col-md-1">
            @player.Player.MinutesPlayed
        </div>
        <!-- Для вратарей схема -[пропущено] / [забито] (с пенальти) -->
        <div class="col-md-1">
            @(isGk ? $"-{player.Player.GoalsMissed} {(player.Player.GoalsScored > 0 ? $"/ {player.Player.GoalsScored} ({player.Player.GoalsPenalty})" : "")}" : $"{player.Player.GoalsScored} ({player.Player.GoalsPenalty})")
        </div>
        <div class="col-md-1">
            @player.Player.YellowCards
        </div>
        <div class="col-md-1">
            @player.Player.RedCards
        </div>
    </div>
}

@code {

    private int GetAllMatches(PlayerWithNumber player)
    {
        var counter = 0;
        var matches = PlayersByClubViewModel.Matches.Where(x => x.Protocole != null).ToArray();
        foreach (var match in matches)
        {
            var isHomeClub = match.HomeClubId == ObjectId.Parse(PlayersByClubViewModel.ClubId);
            if (isHomeClub)
            {
                if (match.SquadHome.Start.Contains(player.Number))
                {
                    counter++;
                }
                else if (match.SquadHome.Subs.Contains(player.Number))
                {
                    if (match.Protocole.SubstitutionsHome.Any(x => x.NumberIn == player.Number))
                    {
                        counter++;
                    }
                }
            }
            else
            {
                if (match.SquadAway.Start.Contains(player.Number))
                {
                    counter++;
                }
                else if (match.SquadAway.Subs.Contains(player.Number))
                {
                    if (match.Protocole.SubstitutionsAway.Any(x => x.NumberIn == player.Number))
                    {
                        counter++;
                    }
                }
            }
        }
        return counter;
    }

}
