﻿@page "/PointsFine"
@using MongoDB.Driver
@using BlazorRPL.Mappings
@using MongoDB.Bson
@inject MongoClient Db
@inherits ClubFineModel
<div class="row">
    <h3>Укажите штрафуемую команду, причину и количество очков</h3>
    <div class="col-md-6 offset-md-3">
        <EditForm Model="@ClubFineViewModel" OnValidSubmit="RegisterFineAsync">
            <InputSelect @bind-Value="@ClubFineViewModel.Team" class="form-control" required>
                @{
                    var dataStore = Db.GetDatabase("premierleague");
                    var collection = dataStore.GetCollection<Club>("club");
                    using var cursors = collection.FindSync(new BsonDocument());
                    var clubs = cursors.ToList().Where(x => x != null);
                    <option selected disabled>-Введите команду-</option>
                    foreach (var club in clubs.OrderBy(x => x.Name))
                    {
                        <option value="@club.Name">@club.Name</option>
                    }
                }
            </InputSelect>
            <label for="reason">Причина</label>
            <InputText id="reason" @bind-Value="ClubFineViewModel.Reason" class="form-control"></InputText>
            <label for="pts">Снято очков</label>
            <InputNumber id="pts" @bind-Value="ClubFineViewModel.Points" class="form-control"></InputNumber>
            <p class="my-4">
                <button type="submit" class="btn btn-primary">Внести изменение</button>
            </p>
        </EditForm>
    </div>
</div>