﻿@page "/ProtocoleRegistration"
@using GemBox.Spreadsheet;
@using BlazorRPL.Mappings
@using MongoDB.Bson
@using MongoDB.Driver
@inject MongoClient Db

<h3>Регистрация протокола</h3>
<div class="container">
    <InputFile OnChange="@SingleUpload"/>
    <button class="btn btn-primary" @onclick="HandleData">Считать данные</button>
</div>
    
<div>
    @debug
</div>

@code {
    private CellRange cells = null;
    private string debug = "";
    private IMongoDatabase dataStore;
    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var file = ExcelFile.Load(ms).Worksheets[0];
        cells = file.Cells;
    }

    private async Task HandleData()
    {
        if (cells == null)
        {
            return;
        }
        var protocole = new ProtocoleModel();
        dataStore = Db.GetDatabase("premierleague");
        var clubs = await GetClubs();
        var matches = await GetMatches();
        var collection = dataStore.GetCollection<Match>("match");
        var homeClub = clubs.First(x => x.Name == cells["D2"].StringValue);
        var awayClub = clubs.First(x => x.Name == cells["D3"].StringValue);

        var match = matches.First(x => x.Round == cells["D1"].IntValue && x.HomeClubId == homeClub.Id);
        if (match.Protocole != null)
        {
            return;
        }
        debug = "Операция выполняется";
        var tour = match.Round;
        var dateOfNextMatch = tour < 30 ? matches.First(x => x.Round == tour + 1).MatchTime.Value : new DateTime(2023, 6, 30, 3, 0, 0);
        if (tour < 30)
        {
            while (dateOfNextMatch.DayOfWeek != DayOfWeek.Tuesday)
            {
                dateOfNextMatch = dateOfNextMatch.AddDays(1);
            }
        }

        protocole.Added1 = cells["K2"].IntValue;
        protocole.Added2 = cells["K3"].IntValue;

        var startHomeList = new List<int>();
        var startAwayList = new List<int>();
        var subHomeList = new List<int>();
        var subAwayList = new List<int>();

        for (var i = 0; i < 11; i++)
        {
            var h = i + 8;
            var a = i + 29;
            startHomeList.Add(cells[$"B{h}"].IntValue);
            startAwayList.Add(cells[$"B{a}"].IntValue);
            if (i < 7)
            {
                var rh = i + 20;
                var ra = i + 41;
                if (cells[$"B{rh}"].Value != null)
                {
                    subHomeList.Add(cells[$"B{rh}"].IntValue);
                }
                if (cells[$"B{ra}"].Value != null)
                {
                    subAwayList.Add(cells[$"B{ra}"].IntValue);
                }
            }
        }

        match.SquadHome = new SquadModel
        {
            Start = startHomeList.ToArray(),
            Subs = subHomeList.ToArray()
        };

        match.SquadAway = new SquadModel
        {
            Start = startAwayList.ToArray(),
            Subs = subAwayList.ToArray()
        };

        match.HomeScore = cells["E2"].IntValue;
        match.AwayScore = cells["E3"].IntValue;

        var goalsHomeList = new List<GoalModel>();
        var goalsAwayList = new List<GoalModel>();
        for (var i = 0; i < 19; i++)
        {
            var r = i + 8;
            if (cells[$"K{r}"].Value != null)
            {
                var listToAdd = cells[$"N{r}"].StringValue == "Х" ? goalsHomeList : goalsAwayList;
                listToAdd.Add(new GoalModel { Minute = cells[$"K{r}"].StringValue, Number = cells[$"O{r}"].IntValue, IsPenalty = cells[$"P{r}"].IntValue != 0 });
            }
        }
        protocole.GoalsHome = goalsHomeList.ToArray();
        protocole.GoalsAway = goalsAwayList.ToArray();

        var homeYCardsList = new List<CardModel>();
        var awayYCardsList = new List<CardModel>();
        for (var i = 0; i < 19; i++)
        {
            var r = i + 29;
            if (cells[$"L{r}"].Value != null)
            {
                var listToAdd = cells[$"L{r}"].StringValue == "Х"
                    ? homeYCardsList
                    : awayYCardsList;
                listToAdd.Add(new CardModel { Minute = cells[$"K{r}"].StringValue, Number = cells[$"M{r}"].IntValue});
            }
        }
        protocole.YellowCardsHome = homeYCardsList.ToArray();
        protocole.YellowCardsAway = awayYCardsList.ToArray();

        var homeRCardsList = new List<CardModel>();
        var awayRCardsList = new List<CardModel>();
        for (var i = 0; i < 19; i++)
        {
            var r = i + 29;
            if (cells[$"Q{r}"].Value != null)
            {
                var listToAdd = cells[$"P{r}"].StringValue == "Х"
                    ? homeRCardsList
                    : awayRCardsList;
                listToAdd.Add(new CardModel { Minute = cells[$"O{r}"].StringValue, Number = cells[$"Q{r}"].IntValue});
            }
        }
        protocole.RedCardsHome = homeRCardsList.ToArray();
        protocole.RedCardsAway = awayRCardsList.ToArray();

        //WriteLine("Замены (хозяева)");

        var subsHome = new List<SubstitutionModel>();
        for (var i = 0; i < 19; i++)
        {
            var r = i + 8;
            if (cells[$"C{r}"].Value != null)
            {
                subsHome.Add(new SubstitutionModel
                {
                    Minute = cells[$"C{r}"].StringValue,
                    NumberOut = cells[$"B{r}"].IntValue,
                    NumberIn = cells[$"D{r}"].IntValue
                });
            }
        }

        var subsAway = new List<SubstitutionModel>();
        for (var i = 0; i < 19; i++)
        {
            var r = i + 29;
            if (cells[$"C{r}"].Value != null)
            {
                subsAway.Add(new SubstitutionModel
                {
                    Minute = cells[$"C{r}"].StringValue,
                    NumberOut = cells[$"B{r}"].IntValue,
                    NumberIn = cells[$"D{r}"].IntValue
                });
            }
        }

        protocole.SubstitutionsHome = subsHome.ToArray();
        protocole.SubstitutionsAway = subsAway.ToArray();

        protocole.IsHomeCoachDisqualified = cells["H50"].IntValue != 0;
        protocole.IsAwayCoachDisqualified = cells["H52"].IntValue != 0;

        var techWinHome = cells["F2"].Value != null;
        var techWinAway = cells["F3"].Value != null;
        //Блок обработки дисквалификаций
        var players = await GetPlayers();
        var checkHome = IsGt8Foreigners(homeClub, startHomeList, subsHome, players, protocole);
        var checkAway = IsGt8Foreigners(awayClub, startAwayList, subsAway, players, protocole);
        if (techWinHome || checkHome.IsGt8Foreigners)
        {
            match.HomeScore = 3;
            match.AwayScore = 0;
        }
        else if (techWinAway || checkAway.IsGt8Foreigners)
        {
            match.HomeScore = 0;
            match.AwayScore = 3;
        }

        match.Protocole = protocole;

        //Проверка на соблюдение лимита при заменах, проверка наличия записи о техпоражении

        var filter = MongoDB.Driver.Builders<Match>.Filter.Eq("_id", match.Id);
        var update = MongoDB.Driver.Builders<Match>.Update.Set("protocole", protocole)
            .Set("squadHome", match.SquadHome) // TODO: перенести в формирование заявки
            .Set("squadAway", match.SquadAway) // TODO: перенести в формирование заявки
            .Set("homeScore", match.HomeScore)
            .Set("awayScore", match.AwayScore);
        await collection.UpdateOneAsync(filter, update);

        var playerCollection = dataStore.GetCollection<Player>("player");
        var disqCollection = dataStore.GetCollection<DisqualificationVerdict>("disqualificationVerdict");

        var groupedYCardsByNumbersHome = homeYCardsList.GroupBy(x => x.Number);
        var groupedYCardsByNumbersAway = awayYCardsList.GroupBy(x => x.Number);

        foreach (var group in groupedYCardsByNumbersHome)
        {
            var playerId = homeClub.Players.First(x => x.Number == group.Key).PlayerId;
            var player = players.First(x => x.Id == playerId);
            if (group.Count() > 1)
            {
                //Дисквалификация
            }
            else
            {
                //Плюс предупрежение. Кратно 4? Дисквалификация.
                player.YellowCards++;
                if (player.YellowCards % 4 == 0)
                {
                    var verdict = new DisqualificationVerdict()
                    {
                        PersonId = player.PersonId,
                        Reason = "Количество предупреждений, кратных четырем",
                        DisqualifiedFrom = match.MatchTime.Value,
                        DisqualifiedTo = dateOfNextMatch
                    };
                    await disqCollection.InsertOneAsync(verdict);
                }
                await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", player.Id), Builders<Player>.Update.Set("yellowCards", player.YellowCards));
            }
        }
        foreach (var group in groupedYCardsByNumbersAway)
        {
            var playerId = awayClub.Players.First(x => x.Number == group.Key).PlayerId;
            var player = players.First(x => x.Id == playerId);
            if (group.Count() > 1)
            {
                //Дисквалификация
            }
            else
            {
                //Плюс предупрежение. Кратно 4? Дисквалификация.
                player.YellowCards++;
                if (player.YellowCards % 4 == 0)
                {
                    var verdict = new DisqualificationVerdict()
                    {
                        PersonId = player.PersonId,
                        Reason = "Количество предупреждений, кратных четырем",
                        DisqualifiedFrom = match.MatchTime.Value,
                        DisqualifiedTo = dateOfNextMatch
                    };
                    await disqCollection.InsertOneAsync(verdict);
                }
                await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", player.Id), Builders<Player>.Update.Set("yellowCards", player.YellowCards));
            }
        }

        foreach (var card in homeRCardsList)
        {
            var playerModel = homeClub.Players.First(x => x.Number == card.Number);
            var playerId = homeClub.Players.First(x => x.PlayerId == playerModel.PlayerId).PlayerId;
            var player = players.First(x => x.Id == playerId);
            player.RedCards++;
            var verdict = new DisqualificationVerdict()
            {
                PersonId = player.PersonId,
                Reason = "Красная карточка",
                DisqualifiedFrom = match.MatchTime.Value,
                DisqualifiedTo = dateOfNextMatch
            };
            await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", player.Id), Builders<Player>.Update.Set("redCards", player.RedCards));
            await disqCollection.InsertOneAsync(verdict);
        }
        foreach (var card in awayRCardsList)
        {
            var playerModel = awayClub.Players.First(x => x.Number == card.Number);
            var playerId = awayClub.Players.First(x => x.PlayerId == playerModel.PlayerId).PlayerId;
            var player = players.First(x => x.Id == playerId);
            player.RedCards++;
            var verdict = new DisqualificationVerdict()
            {
                PersonId = player.PersonId,
                Reason = "Красная карточка",
                DisqualifiedFrom = match.MatchTime.Value,
                DisqualifiedTo = dateOfNextMatch
            };
            await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", player.Id), Builders<Player>.Update.Set("redCards", player.RedCards));
            await disqCollection.InsertOneAsync(verdict);
        }

        //Голы, минуты
        var playersHome = checkHome.Players;
        var playersAway = checkAway.Players;

        for (var i = 0; i < playersHome.Length; i++)
        {
            var goalsForPlayer = goalsHomeList.Where(x => x.Number == playersHome[i].Number).ToArray();
            var goalsCount = goalsForPlayer.Length;
            var penaltyCount = goalsForPlayer.Count(x => x.IsPenalty);
            playersHome[i].Player.GoalsScored += goalsCount;
            playersHome[i].Player.GoalsPenalty += penaltyCount;
            if (playersHome[i].Player.Position == PositionEnum.Goalkeeper)
            {
                var missed = 0;
                bool subed = subsHome.Any(x => x.NumberIn == playersHome[i].Number ||
                                               x.NumberOut == playersHome[i].Number);
                if (!subed && startHomeList.Contains(playersHome[i].Number))
                {
                    missed = goalsAwayList.Count;
                }
                else
                {
                    var subs = subsHome.Where(x => x.NumberIn == playersHome[i].Number ||
                                                   x.NumberOut == playersHome[i].Number).ToArray();
                    if (subs.Length == 1)
                    {
                        missed = goalsAwayList.Count(x => GetMinuteFromString(x.Minute, protocole) >= GetMinuteFromString(subs.First().Minute, protocole));
                    }
                    else if (subs.Length == 2)
                    {
                        var range = subs.Select(x => GetMinuteFromString(x.Minute, protocole)).OrderBy(x => x).ToArray();
                        missed = goalsAwayList.Count(x => GetMinuteFromString(x.Minute, protocole) >= range.First() &&
                                                          GetMinuteFromString(x.Minute, protocole) <= range.Last());
                    }
                }
                playersHome[i].Player.GoalsMissed += missed;
            }
            await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", playersHome[i].Player.Id), Builders<Player>.Update
                .Set("minutesPlayed", playersHome[i].Player.MinutesPlayed)
                .Set("goalsScored", playersHome[i].Player.GoalsScored)
                .Set("goalsMissed", playersHome[i].Player.GoalsMissed)
                .Set("goalsPenalty", playersHome[i].Player.GoalsPenalty));
        }

        for (var i = 0; i < playersAway.Length; i++)
        {
            var goalsForPlayer = goalsAwayList.Where(x => x.Number == playersAway[i].Number).ToArray();
            var goalsCount = goalsForPlayer.Length;
            var penaltyCount = goalsForPlayer.Count(x => x.IsPenalty);
            playersAway[i].Player.GoalsScored += goalsCount;
            playersAway[i].Player.GoalsPenalty += penaltyCount;
            if (playersAway[i].Player.Position == PositionEnum.Goalkeeper)
            {
                var missed = 0;
                bool subed = subsHome.Any(x => x.NumberIn == playersAway[i].Number ||
                                               x.NumberOut == playersAway[i].Number);
                if (!subed && startHomeList.Contains(playersAway[i].Number))
                {
                    missed = goalsHomeList.Count;
                }
                else
                {
                    var subs = subsHome.Where(x => x.NumberIn == playersAway[i].Number ||
                                                   x.NumberOut == playersAway[i].Number).ToArray();
                    if (subs.Length == 1)
                    {
                        missed = goalsHomeList.Count(x => GetMinuteFromString(x.Minute, protocole) >= GetMinuteFromString(subs.First().Minute, protocole));
                    }
                    else if (subs.Length == 2)
                    {
                        var range = subs.Select(x => GetMinuteFromString(x.Minute, protocole)).OrderBy(x => x).ToArray();
                        missed = goalsHomeList.Count(x => GetMinuteFromString(x.Minute, protocole) >= range.First() &&
                                                          GetMinuteFromString(x.Minute, protocole) <= range.Last());
                    }
                }
                playersAway[i].Player.GoalsMissed += missed;
            }
            await playerCollection.UpdateOneAsync(Builders<Player>.Filter.Eq("_id", playersAway[i].Player.Id), Builders<Player>.Update
                .Set("minutesPlayed", playersAway[i].Player.MinutesPlayed)
                .Set("goalsScored", playersAway[i].Player.GoalsScored)
                .Set("goalsMissed", playersAway[i].Player.GoalsMissed)
                .Set("goalsPenalty", playersAway[i].Player.GoalsPenalty));
        }

        debug = "Операция выполнена";
    }

    private ClubPlayersModel IsGt8Foreigners(Club club, List<int> startList, List<SubstitutionModel> subs, Player[] players, ProtocoleModel protocole)
    {
        var startPlayers = startList.Select(x => new PlayerWithNumber 
            {
                Player = players.First(z => z.Id == club.Players.First(y => y.Number == x).PlayerId),
                Number = x
            }).ToArray();
        var subsNumbers = subs.Select(x => x.NumberIn).ToArray();
        var subsPlayers = subsNumbers.Select(x => new PlayerWithNumber
            {
                Player = players.First(z => z.Id == club.Players.First(y => y.Number == x).PlayerId),
                Number = x
            }).ToArray();
        var allPlayers = startPlayers.Union(subsPlayers).ToArray();

        var minutesPlayed = new Dictionary<int, int>();
        var allGame = 90 + protocole.Added1 + protocole.Added2;
        foreach (var sub in subs)
        {
            if (subs.Any(x => sub.NumberIn == x.NumberOut))
            {
                var reSub = subs.First(x => sub.NumberIn == x.NumberOut);
                var minuteOut = GetMinuteFromString(reSub.Minute, protocole);
                var minuteIn = GetMinuteFromString(sub.Minute, protocole);
                minutesPlayed[sub.NumberIn] = minuteOut - minuteIn;
            }
            else
            {
                minutesPlayed[sub.NumberIn] = allGame - GetMinuteFromString(sub.Minute, protocole);
            }
            minutesPlayed[sub.NumberOut] = GetMinuteFromString(sub.Minute, protocole);
        }

        for (var i = 0; i < allPlayers.Length; i++)
        {
            allPlayers[i].Player.MinutesPlayed += minutesPlayed.ContainsKey(allPlayers[i].Number) ? minutesPlayed[allPlayers[i].Number] : allGame;
        }
        var changingStartList = startList.GetRange(0, startList.Count);
        foreach (var group in subs.GroupBy(x => x.Minute))
        {
            foreach (var subInMinute in group)
            {
                var index = changingStartList.IndexOf(subInMinute.NumberOut);
                changingStartList[index] = subInMinute.NumberIn;
            }
            var playersNow = changingStartList.Select(x => allPlayers.First(y => y.Number == x)).ToArray();
            if (playersNow.Count(x => x.Player.Country != "Россия") > 8)
            {
                return new ClubPlayersModel
                {
                    IsGt8Foreigners = true,
                    Players = allPlayers
                };
            }
        }
        return new ClubPlayersModel
        {
            IsGt8Foreigners = false,
            Players = allPlayers
        };
    }

    private int GetMinuteFromString(string min, ProtocoleModel protocole)
    {
        var added1 = protocole.Added1;
        var added2 = protocole.Added2;
        var minutes = 0;
        if (min.Contains("+"))
        {
            var split = min.Split("+").Select(x => Convert.ToInt32(x)).ToArray();
            if (split[0] == 45)
            {
                minutes = split.Sum();
            }
            else
            {
                minutes = split.Sum() + added1;
            }
        }
        else
        {
            var intMin = Convert.ToInt32(min);
            minutes = intMin > 45 ? intMin + added1 : intMin;
        }
        return minutes;
    } 

    public class Substitute
    {
        public string Minute { get; set; }
        public string Out { get; set; }
        public string In { get; set; }
    }

    public class ClubPlayersModel
    {
        public PlayerWithNumber[] Players { get; set; }
        public bool IsGt8Foreigners { get; set; }
    }

    private async Task<Club[]> GetClubs()
    {
        var collection = dataStore.GetCollection<Club>("club");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    private async Task<Match[]> GetMatches()
    {
        var collection = dataStore.GetCollection<Match>("match");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    private async Task<Person[]> GetPersons()
    {
        var collection = dataStore.GetCollection<Person>("person");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }
    private async Task<Player[]> GetPlayers()
    {
        var collection = dataStore.GetCollection<Player>("player");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }
    private async Task<Referee[]> GetReferees()
    {
        var collection = dataStore.GetCollection<Referee>("referee");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }
    private async Task<Coach[]> GetCoaches()
    {
        var collection = dataStore.GetCollection<Coach>("coach");
        using var cursors = await collection.FindAsync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }
}
