﻿@page "/TournamentTableReal"
@using BlazorRPL.Mappings
@using MongoDB.Bson
@using MongoDB.Driver
@inject MongoClient Db

<h3>Итоговая таблица</h3>
@{
    <!--<button class="btn btn-primary" @onclick="ShowTable">Показать текущую таблицу</button>-->
    ShowTable();
    <div class="row">
        <div class="col-md-12">
        @if (finishedTable.Any())
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="table-dark">
                        <td class="pe-2">Позиция</td>
                        <td class="pe-2">Команда</td>
                        <td class="pe-2">И</td>
                        <td class="pe-2">В</td>
                        <td class="pe-2">Н</td>
                        <td class="pe-2">П</td>
                        <td class="pe-2">ГЗ</td>
                        <td class="pe-2">ГП</td>
                        <td class="pe-2">+/-</td>
                        <td class="pe-2">Очки</td>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var i = 1;
                        foreach (var row in finishedTable)
                        {
                            <tr class="@GetClassFromPosition(i)">
                                <td style="width: 50px;" class="pe-2">@i</td>
                                <td class="pe-2">@row.Team</td>
                                <td class="pe-2">@row.Matches</td>
                                <td class="pe-2">@row.Wins</td>
                                <td class="pe-2">@row.Draws</td>
                                <td class="pe-2">@row.Loses</td>
                                <td class="pe-2">@row.GoalsScored</td>
                                <td class="pe-2">@row.GoalsMissed</td>
                                <td class="pe-2">@row.GoalsDifference</td>
                                <td class="pe-2">@row.Points@GetSign(row.Points)</td>
                            </tr>
                            i++;
                        }
                    }
                    </tbody>
                </table>
            </div>
            @if (fines.Any())
            {
                var groupedFines = fines.GroupBy(x => x.ClubId);
                foreach (var group in groupedFines)
                {
                    var team = clubs.First(x => x.Id == group.Key);
                    var minusPts = group.Sum(x => x.FinePts);
                    var reasons = group.Select(x => $"Причина: {x.Reason}, снято: {x.FinePts} очков");
                    <div class="border-dark">
                        <p class="mb-0">@team.Name: -@minusPts очков.</p>
                        @foreach (var reason in reasons)
                        {
                            <p class="mb-0">@reason</p>
                        }
                    </div>
                }
            }
        }
        </div>
    </div>
}
@code {
    private List<TableElement> finishedTable = new List<TableElement>();
    private IMongoDatabase dataStore;
    private List<ClubFine> fines = new List<ClubFine>();
    private List<Club> clubs = new List<Club>();
    public void ShowTable()
    {
        dataStore = Db.GetDatabase("premierleague");
        finishedTable = new List<TableElement>();
        clubs = GetClubs().ToList();
        var matches = GetMatches().Where(x => x.Protocole != null).ToArray();
        fines = GetFines().ToList();
        ShowTable(matches, clubs.ToArray());
    }

    void ShowTable(Match[] matches, Club[] clubs)
    {
        var teams = clubs.Select(x => x.Name).ToArray();
        var tables = new List<TableElement>();

        var teamsInOrder = new OrderTeam[]
        {
            new OrderTeam{Number = 1, Team = "Зенит"},
            new OrderTeam{Number = 2, Team = "Сочи"},
            new OrderTeam{Number = 3, Team = "Динамо"},
            new OrderTeam{Number = 4, Team = "Краснодар"},
            new OrderTeam{Number = 5, Team = "ЦСКА"},
            new OrderTeam{Number = 6, Team = "Локомотив"},
            new OrderTeam{Number = 7, Team = "Ахмат"},
            new OrderTeam{Number = 8, Team = "Крылья Советов"},
            new OrderTeam{Number = 9, Team = "Ростов"},
            new OrderTeam{Number = 10, Team = "Спартак"},
            new OrderTeam{Number = 11, Team = "Пари НН"},
            new OrderTeam{Number = 12, Team = "Урал"},
            new OrderTeam{Number = 13, Team = "Химки"},
            new OrderTeam{Number = 14, Team = "Торпедо"},
            new OrderTeam{Number = 15, Team = "Факел"},
            new OrderTeam{Number = 16, Team = "Оренбург"}
        };

        foreach (var team in teams)
        {
            var matchesWithTeam = matches.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team || clubs.First(y => x.AwayClubId == y.Id).Name == team).ToArray();
            int wins = matchesWithTeam.Count(x => (clubs.First(y => x.HomeClubId == y.Id).Name == team && x.HomeScore > x.AwayScore) || (clubs.First(y => x.AwayClubId == y.Id).Name == team && x.AwayScore > x.HomeScore)),
                draws = matchesWithTeam.Count(x => x.HomeScore == x.AwayScore),
                loses = matchesWithTeam.Count(x => (clubs.First(y => x.HomeClubId == y.Id).Name == team && x.HomeScore < x.AwayScore) || (clubs.First(y => x.AwayClubId == y.Id).Name == team && x.AwayScore < x.HomeScore)),
                scored = matchesWithTeam?.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team).Select(x => x.HomeScore).Sum() + matchesWithTeam?.Where(x => clubs.First(y => x.AwayClubId == y.Id).Name == team).Select(x => x.AwayScore).Sum() ?? 0,
                missed = matchesWithTeam?.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team).Select(x => x.HomeScore).Sum() + matchesWithTeam?.Where(x => clubs.First(y => x.AwayClubId == y.Id).Name == team).Select(x => x.HomeScore).Sum() ?? 0;
            tables.Add(new TableElement
                {
                    Team = team,
                    Matches = matchesWithTeam.Length,
                    Wins = wins,
                    Draws = draws,
                    Loses = loses,
                    GoalsScored = scored,
                    GoalsMissed = missed,
                    GoalsDifference = scored - missed,
                    Points = wins * 3 + draws
                });
        }
        //Применим вычитание дисквалифицированных очков
        var groupedFines = fines.GroupBy(x => x.ClubId);
        foreach (var group in groupedFines)
        {
            var team = clubs.First(x => x.Id == group.Key);
            var minusPts = group.Sum(x => x.FinePts);
            var index = tables.IndexOf(tables.First(x => x.Team == team.Name));
            tables[index].Points -= minusPts;
        }
        var sortedByPts = tables
            .OrderByDescending(x => x.Points)
            .ToList();
        
        var sortedByTeamPtsCopy = sortedByPts.GetRange(0, sortedByPts.Count);
        var nonUniquePts = sortedByPts.GroupBy(x => x.Points).Where(x => x.Count() > 1);
        foreach (var group in nonUniquePts) //Распределяем тех, у кого равенство по очкам
        {
            var indexes = new List<int>();
            foreach (var team in group)
            {
                indexes.Add(sortedByPts.IndexOf(team));
            }
            var teamsInGroup = group.Select(x => x.Team).ToArray();
            var matchesToCompare = matches.Where(x => teamsInGroup.Contains(clubs.First(y => x.HomeClubId == y.Id).Name) && teamsInGroup.Contains(clubs.First(y => x.AwayClubId == y.Id).Name)).ToArray();
            var compareTable = new List<TableElement>();
            foreach (var team in teamsInGroup)
            {
                var matchesWithThisTeam = matchesToCompare.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team || clubs.First(y => x.AwayClubId == y.Id).Name == team).ToArray();
                if (matchesWithThisTeam.Length != 0)
                {
                    int wins = matchesWithThisTeam.Count(x =>
                            (clubs.First(y => x.HomeClubId == y.Id).Name == team && x.HomeScore > x.AwayScore) || (clubs.First(y => x.AwayClubId == y.Id).Name == team && x.AwayScore > x.HomeScore)),
                        draws = matchesWithThisTeam.Count(x => x.HomeScore == x.AwayScore),
                        loses = matchesWithThisTeam.Count(x =>
                            (clubs.First(y => x.HomeClubId == y.Id).Name == team && x.HomeScore < x.AwayScore) || (clubs.First(y => x.AwayClubId == y.Id).Name == team && x.AwayScore < x.HomeScore)),
                        scored = matchesWithThisTeam.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team).Select(x => x.HomeScore).Sum() +
                                 matchesWithThisTeam.Where(x => clubs.First(y => x.AwayClubId == y.Id).Name == team).Select(x => x.AwayScore).Sum() ?? 0,
                        missed = matchesWithThisTeam.Where(x => clubs.First(y => x.HomeClubId == y.Id).Name == team).Select(x => x.AwayScore).Sum() +
                                 matchesWithThisTeam.Where(x => clubs.First(y => x.AwayClubId == y.Id).Name == team).Select(x => x.HomeScore).Sum() ?? 0;

                    compareTable.Add(new TableElement
                        {
                            Team = team,
                            Matches = matchesWithThisTeam.Length,
                            Wins = wins,
                            Draws = draws,
                            Loses = loses,
                            GoalsScored = scored,
                            GoalsMissed = missed,
                            GoalsDifference = scored - missed,
                            Points = wins * 3 + draws
                        });
                }
            }

            if (compareTable.Count != 0 && compareTable.Count == teamsInGroup.Length)
            {
                compareTable = compareTable
                    .OrderByDescending(x => x.Points)
                    .ThenByDescending(x => x.Wins)
                    .ThenByDescending(x => x.GoalsDifference)
                    .ThenByDescending(x => x.GoalsScored)
                    .ToList();

                for (int j = 0; j < teamsInGroup.Count(); j++)
                {
                    sortedByPts[indexes[j]] = sortedByTeamPtsCopy.First(x => x.Team == compareTable[j].Team);
                }
            }
            else
            {
                var sortedGroupByAllMatches = group
                                                .OrderByDescending(x => x.Wins)
                                                .ThenByDescending(x => x.GoalsDifference)
                                                .ThenByDescending(x => x.GoalsScored)
                                                .ThenBy(x => teamsInOrder.FirstOrDefault(y => y.Team == x.Team).Number)
                                                .ToArray();
                //Прописать перепосев мест
                for (int j = 0; j < group.Count(); j++)
                {
                    sortedByPts[indexes[j]] = sortedByTeamPtsCopy.First(x => x.Team == sortedGroupByAllMatches[j].Team);
                }
            }
        }
        finishedTable = sortedByPts;
        var sortedTable = sortedByPts
            .Select((x, index) => $"{index + 1,2} | {x.Team,15} | {x.Matches,2} | {x.Wins,2} | {x.Draws,2} | {x.Loses,2} | {x.GoalsScored,2} | {x.GoalsMissed,2} | {(x.GoalsDifference != 0 ? (x.GoalsDifference > 0 ? "+" : "-") : "") + Math.Abs(x.GoalsDifference),3} | {x.Points,2}{(x.IsNeedToPlayAddMatches ? "*" : "")} |")
            .ToArray();
        Console.WriteLine($"{"#",2} | {"Команда",15} | {"И",2} | {"В",2} | {"Н",2} | {"П",2} | {"ГЗ",2} | {"ГП",2} | {"РГ",3} | {"О",2} |");
        Console.WriteLine(new string('-', 63));
        Console.WriteLine(string.Join("\n", sortedTable));
    }

    class TableElement
    {
        public string Team { get; set; }
        public int Matches { get; set; }
        public int Wins { get; set; }
        public int Draws { get; set; }
        public int Loses { get; set; }
        public int GoalsScored { get; set; }
        public int GoalsMissed { get; set; }
        public int GoalsDifference { get; set; }
        public int Points { get; set; }
        public bool IsNeedToPlayAddMatches { get; set; }
    }
    /*class Match
    {
        public Match(int tour, int match, string t1, string t2, int g1, int g2)
        {
            Tour = tour;
            Game = match;
            Team1 = t1;
            Team2 = t2;
            Goals1 = g1;
            Goals2 = g2;
        }
        public int Tour { get; set; }
        public int Game { get; set; }
        public string Team1 { get; set; }
        public string Team2 { get; set; }
        public int Goals1 { get; set; }
        public int Goals2 { get; set; }
    }*/

    class OrderTeam
    {
        public int Number { get; set; }
        public string Team { get; set; }
    }

    private string GetSign(int rowPoints)
    {
        return finishedTable.Count(x => x.Points == rowPoints) > 1 ? "*" : "";
    }

    private Club[] GetClubs()
    {
        var collection = dataStore.GetCollection<Club>("club");
        using var cursors = collection.FindSync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    private Match[] GetMatches()
    {
        var collection = dataStore.GetCollection<Match>("match");
        using var cursors = collection.FindSync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    private ClubFine[] GetFines()
    {
        var collection = dataStore.GetCollection<ClubFine>("teamFine");
        using var cursors = collection.FindSync(new BsonDocument());
        return cursors.ToList().Where(x => x != null).ToArray();
    }

    private string GetClassFromPosition(int i)
    {
        if (i <= 2)
        {
            return "table-success";
        }
        else if (i == 3)
        {
            return "table-primary";
        }
        else if (i <= 5)
        {
            return "table-warning";
        }
        else if (i == 13 || i == 14)
        {
            return "table-secondary";
        }
        else if (i >= 15)
        {
            return "table-danger";
        }
        return "table-light";
    }

}
