﻿@page "/TournamentTableDemo"
<h3>Итоговая таблица (на примере сезона 2021/2022)</h3>
@{
    ShowTable();
    if (finishedTable.Any())
    {
        <table>
            <tr>
                <td class="pe-2">№</td>
                <td class="pe-2">Команда</td>
                <td class="pe-2">И</td>
                <td class="pe-2">В</td>
                <td class="pe-2">Н</td>
                <td class="pe-2">П</td>
                <td class="pe-2">ГЗ</td>
                <td class="pe-2">ГП</td>
                <td class="pe-2">+/-</td>
                <td class="pe-2">О</td>
            </tr>
            @{
                var i = 1;
                foreach (var row in finishedTable)
                {
                    <tr>
                        <td class="pe-2">@i</td>
                        <td class="pe-2">@row.Team</td>
                        <td class="pe-2">@row.Matches</td>
                        <td class="pe-2">@row.Wins</td>
                        <td class="pe-2">@row.Draws</td>
                        <td class="pe-2">@row.Loses</td>
                        <td class="pe-2">@row.GoalsScored</td>
                        <td class="pe-2">@row.GoalsMissed</td>
                        <td class="pe-2">@row.GoalsDifference</td>
                        <td class="pe-2">@row.Points@GetSign(row.Points)</td>
                    </tr>
                    i++;
                }
            }
        </table>
    }
}
@code {
    private List<TableElement> finishedTable = new List<TableElement>();

    public void ShowTable()
    {
        finishedTable = new List<TableElement>();
        var matches = new[]
            {
                new Match(1, 1, "Rostov", "Dinamo", 0, 2),
                new Match(1, 2, "Khimki", "Zenit", 1, 3),
                new Match(1, 3, "Lokomotiv", "Arsenal", 3, 1),
                new Match(1, 4, "Rubin", "Spartak", 1, 0),
                new Match(1, 5, "Ural", "Krasnodar", 0, 3),
                new Match(1, 6, "KS", "Akhmat", 1, 2),
                new Match(1, 7, "CSKA", "Ufa", 1, 0),
                new Match(1, 8, "NN", "Sochi", 1, 0),

                new Match(2, 1, "KS", "Spartak", 0, 1),
                new Match(2, 2, "Arsenal", "Rubin", 0, 3),
                new Match(2, 3, "Ufa", "Dinamo", 2, 3),
                new Match(2, 4, "CSKA", "Lokomotiv", 1, 2),
                new Match(2, 5, "Ural", "NN", 1, 1),
                new Match(2, 6, "Rostov", "Zenit", 2, 4),
                new Match(2, 7, "Krasnodar", "Khimki", 0, 1),
                new Match(2, 8, "Akhmat", "Sochi", 1, 2),

                new Match(3, 1, "Ufa", "Lokomotiv", 1, 1),
                new Match(3, 2, "Zenit", "Krasnodar", 3, 2),
                new Match(3, 3, "Arsenal", "KS", 2, 1),
                new Match(3, 4, "Spartak", "NN", 1, 2),
                new Match(3, 5, "Khimki", "Rostov", 1, 1),
                new Match(3, 6, "Dinamo", "CSKA", 2, 1),
                new Match(3, 7, "Rubin", "Akhmat", 2, 1),
                new Match(3, 8, "Sochi", "Ural", 2, 0),

                new Match(4, 1, "Spartak", "Ural", 1, 0),
                new Match(4, 2, "NN", "Ufa", 1, 2),
                new Match(4, 3, "Rostov", "CSKA", 1, 3),
                new Match(4, 4, "Akhmat", "Dinamo", 2, 1),
                new Match(4, 5, "Lokomotiv", "Zenit", 1, 1),
                new Match(4, 6, "Krasnodar", "Arsenal", 3, 2),
                new Match(4, 7, "Rubin", "KS", 1, 1),
                new Match(4, 8, "Sochi", "Khimki", 3, 0),

                new Match(5, 1, "CSKA", "Akhmat", 2, 0),
                new Match(5, 2, "Arsenal", "Spartak", 1, 1),
                new Match(5, 3, "Ufa", "Zenit", 1, 1),
                new Match(5, 4, "Ural", "Dinamo", 0, 1),
                new Match(5, 5, "KS", "Sochi", 1, 0),
                new Match(5, 6, "Lokomotiv", "Krasnodar", 2, 1),
                new Match(5, 7, "NN", "Rostov", 1, 2),
                new Match(5, 8, "Khimki", "Rubin", 1, 1),

                new Match(6, 1, "Ufa", "KS", 1, 2),
                new Match(6, 2, "Spartak", "Sochi", 1, 2),
                new Match(6, 3, "Akhmat", "Arsenal", 2, 1),
                new Match(6, 4, "Zenit", "CSKA", 1, 0),
                new Match(6, 5, "Ural", "Rostov", 1, 1),
                new Match(6, 6, "Khimki", "NN", 1, 1),
                new Match(6, 7, "Dinamo", "Lokomotiv", 1, 1),
                new Match(6, 8, "Krasnodar", "Rubin", 2, 0),

                new Match(7, 1, "Lokomotiv", "KS", 2, 0),
                new Match(7, 2, "Zenit", "Akhmat", 3, 1),
                new Match(7, 3, "Spartak", "Khimki", 3, 1),
                new Match(7, 4, "Arsenal", "CSKA", 2, 2),
                new Match(7, 5, "Sochi", "Ufa", 3, 1),
                new Match(7, 6, "Dinamo", "NN", 1, 2),
                new Match(7, 7, "Rubin", "Ural", 4, 0),
                new Match(7, 8, "Rostov", "Krasnodar", 1, 1),

                new Match(8, 1, "Ufa", "Khimki", 3, 2),
                new Match(8, 2, "KS", "Rostov", 4, 2),
                new Match(8, 3, "Akhmat", "Krasnodar", 0, 2),
                new Match(8, 4, "NN", "Arsenal", 2, 3),
                new Match(8, 5, "Sochi", "Dinamo", 0, 1),
                new Match(8, 6, "Ural", "Lokomotiv", 0, 0),
                new Match(8, 7, "Rubin", "Zenit", 1, 3),
                new Match(8, 8, "CSKA", "Spartak", 1, 0),

                new Match(9, 1, "Khimki", "Lokomotiv", 0, 0),
                new Match(9, 2, "Zenit", "KS", 2, 1),
                new Match(9, 3, "Spartak", "Ufa", 2, 0),
                new Match(9, 4, "Dinamo", "Rubin", 2, 0),
                new Match(9, 5, "Rostov", "Akhmat", 1, 2),
                new Match(9, 6, "Krasnodar", "Sochi", 3, 0),
                new Match(9, 7, "Ural", "Arsenal", 2, 0),
                new Match(9, 8, "NN", "CSKA", 0, 2),

                new Match(10, 1, "Rubin", "NN", 0, 1),
                new Match(10, 2, "Dinamo", "KS", 0, 1),
                new Match(10, 3, "CSKA", "Krasnodar", 0, 0),
                new Match(10, 4, "Arsenal", "Khimki", 0, 0),
                new Match(10, 5, "Ufa", "Ural", 0, 1),
                new Match(10, 6, "Zenit", "Sochi", 1, 2),
                new Match(10, 7, "Lokomotiv", "Rostov", 1, 2),
                new Match(10, 8, "Akhmat", "Spartak", 0, 1),

                new Match(11, 1, "Arsenal", "Zenit", 2, 1),
                new Match(11, 2, "Rubin", "Lokomotiv", 2, 2),
                new Match(11, 3, "Spartak", "Dinamo", 2, 2),
                new Match(11, 4, "Sochi", "Rostov", 3, 2),
                new Match(11, 5, "Ural", "CSKA", 0, 1),
                new Match(11, 6, "KS", "NN", 2, 0),
                new Match(11, 7, "Khimki", "Akhmat", 2, 0),
                new Match(11, 8, "Krasnodar", "Ufa", 1, 1),

                new Match(12, 1, "Dinamo", "Khimki", 4, 1),
                new Match(12, 2, "NN", "Krasnodar", 1, 4),
                new Match(12, 3, "Rostov", "Arsenal", 4, 0),
                new Match(12, 4, "CSKA", "KS", 3, 1),
                new Match(12, 5, "Ufa", "Rubin", 1, 1),
                new Match(12, 6, "Akhmat", "Ural", 1, 0),
                new Match(12, 7, "Zenit", "Spartak", 7, 1),
                new Match(12, 8, "Lokomotiv", "Sochi", 2, 1),

                new Match(13, 1, "Zenit", "Dinamo", 4, 1),
                new Match(13, 2, "Rubin", "CSKA", 1, 0),
                new Match(13, 3, "Spartak", "Rostov", 1, 1),
                new Match(13, 4, "Krasnodar", "KS", 0, 1),
                new Match(13, 5, "NN", "Lokomotiv", 1, 2),
                new Match(13, 6, "Ufa", "Akhmat", 1, 0),
                new Match(13, 7, "Arsenal", "Sochi", 1, 2),
                new Match(13, 8, "Khimki", "Ural", 0, 0),

                new Match(14, 1, "Arsenal", "Ufa", 0, 0),
                new Match(14, 2, "KS", "Khimki", 3, 0),
                new Match(14, 3, "Dinamo", "Krasnodar", 1, 0),
                new Match(14, 4, "Sochi", "CSKA", 4, 1),
                new Match(14, 5, "Ural", "Zenit", 0, 0),
                new Match(14, 6, "Rostov", "Rubin", 5, 1),
                new Match(14, 7, "Spartak", "Lokomotiv", 1, 1),
                new Match(14, 8, "Akhmat", "NN", 3, 1),

                new Match(15, 1, "Zenit", "NN", 5, 1),
                new Match(15, 2, "KS", "Ural", 1, 1),
                new Match(15, 3, "Lokomotiv", "Akhmat", 1, 2),
                new Match(15, 4, "Krasnodar", "Spartak", 2, 1),
                new Match(15, 5, "Rostov", "Ufa", 2, 2),
                new Match(15, 6, "CSKA", "Khimki", 0, 0),
                new Match(15, 7, "Dinamo", "Arsenal", 5, 1),
                new Match(15, 8, "Sochi", "Rubin", 1, 2),

                new Match(16, 1, "Ural", "Sochi", 1, 1),
                new Match(16, 2, "Akhmat", "Rostov", 2, 0),
                new Match(16, 3, "Khimki", "Krasnodar", 3, 3),
                new Match(16, 4, "NN", "KS", 0, 0),
                new Match(16, 5, "Rubin", "Dinamo", 2, 3),
                new Match(16, 6, "CSKA", "Zenit", 0, 2),
                new Match(16, 7, "Ufa", "Spartak", 1, 1),
                new Match(16, 8, "Arsenal", "Lokomotiv", 3, 1),

                new Match(17, 1, "Zenit", "Rostov", 2, 2),
                new Match(17, 2, "KS", "CSKA", 0, 1),
                new Match(17, 3, "Spartak", "Akhmat", 2, 1),
                new Match(17, 4, "Lokomotiv", "Ural", 0, 1),
                new Match(17, 5, "Khimki", "Arsenal", 1, 2),
                new Match(17, 6, "Dinamo", "Ufa", 2, 0),
                new Match(17, 7, "NN", "Rubin", 2, 1),
                new Match(17, 8, "Sochi", "Krasnodar", 1, 2),

                new Match(18, 1, "KS", "Rubin", 2, 0),
                new Match(18, 2, "CSKA", "Arsenal", 2, 0),
                new Match(18, 3, "Rostov", "Ural", 1, 4),
                new Match(18, 4, "Dinamo", "Zenit", 1, 1),
                new Match(18, 5, "Akhmat", "Khimki", 4, 1),
                new Match(18, 6, "Krasnodar", "NN", 0, 0),
                new Match(18, 7, "Lokomotiv", "Ufa", 2, 0),
                new Match(18, 8, "Sochi", "Spartak", 3, 0),

                new Match(19, 1, "NN", "Ural", 1, 0),
                new Match(19, 2, "Khimki", "Dinamo", 0, 3),
                new Match(19, 3, "Sochi", "Arsenal", 2, 0),
                new Match(19, 4, "Spartak", "CSKA", 0, 2),
                new Match(19, 5, "Akhmat", "Ufa", 2, 1),
                new Match(19, 6, "Zenit", "Rubin", 3, 2),
                new Match(19, 7, "Rostov", "KS", 1, 0),
                new Match(19, 8, "Krasnodar", "Lokomotiv", 1, 0),

                new Match(20, 1, "CSKA", "NN", 1, 0),
                new Match(20, 2, "KS", "Arsenal", 2, 2),
                new Match(20, 3, "Lokomotiv", "Khimki", 3, 2),
                new Match(20, 4, "Dinamo", "Spartak", 0, 2),
                new Match(20, 5, "Krasnodar", "Ural", 2, 1),
                new Match(20, 6, "Zenit", "Ufa", 2, 0),
                new Match(20, 7, "Rostov", "Sochi", 0, 1),
                new Match(20, 8, "Akhmat", "Rubin", 1, 2),

                new Match(21, 1, "Ufa", "NN", 0, 0),
                new Match(21, 2, "Arsenal", "Dinamo", 1, 4),
                new Match(21, 3, "Lokomotiv", "CSKA", 1, 2),
                new Match(21, 4, "Ural", "Akhmat", 0, 0),
                new Match(21, 5, "Khimki", "Sochi", 0, 0),
                new Match(21, 6, "KS", "Zenit", 1, 1),
                new Match(21, 7, "Spartak", "Krasnodar", 1, 2),
                new Match(21, 8, "Rubin", "Rostov", 1, 2),

                new Match(22, 1, "Ural", "Khimki", 0, 1),
                new Match(22, 2, "NN", "Spartak", 1, 1),
                new Match(22, 3, "Akhmat", "Lokomotiv", 2, 3),
                new Match(22, 4, "Zenit", "Arsenal", 3, 0),
                new Match(22, 5, "CSKA", "Rubin", 6, 1),
                new Match(22, 6, "Ufa", "Krasnodar", 1, 1),
                new Match(22, 7, "Sochi", "KS", 2, 3),
                new Match(22, 8, "Dinamo", "Rostov", 1, 1),

                new Match(23, 1, "Rubin", "Khimki", 2, 3),
                new Match(23, 2, "KS", "Ufa", 1, 2),
                new Match(23, 3, "Arsenal", "Akhmat", 0, 0),
                new Match(23, 4, "Rostov", "NN", 1, 2),
                new Match(23, 5, "Lokomotiv", "Spartak", 1, 0),
                new Match(23, 6, "Krasnodar", "Dinamo", 0, 1),
                new Match(23, 7, "CSKA", "Ural", 2, 2),
                new Match(23, 8, "Sochi", "Zenit", 0, 0),

                new Match(24, 1, "NN", "Dinamo", 0, 1),
                new Match(24, 2, "Khimki", "CSKA", 4, 2),
                new Match(24, 3, "Rubin", "Krasnodar", 0, 1),
                new Match(24, 4, "Akhmat", "Zenit", 0, 2),
                new Match(24, 5, "Ural", "KS", 0, 1),
                new Match(24, 6, "Ufa", "Sochi", 1, 2),
                new Match(24, 7, "Spartak", "Arsenal", 3, 0),
                new Match(24, 8, "Rostov", "Lokomotiv", 4, 1),

                new Match(25, 1, "Dinamo", "Akhmat", 2, 0),
                new Match(25, 2, "Ufa", "CSKA", 1, 1),
                new Match(25, 3, "Zenit", "Ural", 3, 1),
                new Match(25, 4, "Spartak", "Rubin", 1, 1),
                new Match(25, 5, "Arsenal", "Rostov", 1, 2),
                new Match(25, 6, "KS", "Krasnodar", 2, 0),
                new Match(25, 7, "Sochi", "Lokomotiv", 2, 2),
                new Match(25, 8, "NN", "Khimki", 0, 0),

                new Match(26, 1, "Ural", "Ufa", 2, 1),
                new Match(26, 2, "Lokomotiv", "NN", 2, 1),
                new Match(26, 3, "Sochi", "Akhmat", 3, 2),
                new Match(26, 4, "Rubin", "Arsenal", 1, 0),
                new Match(26, 5, "Khimki", "KS", 4, 1),
                new Match(26, 6, "Rostov", "Spartak", 3, 2),
                new Match(26, 7, "CSKA", "Dinamo", 1, 0),
                new Match(26, 8, "Krasnodar", "Zenit", 1, 3),

                new Match(27, 1, "Dinamo", "Ural", 2, 3),
                new Match(27, 2, "Rubin", "Sochi", 0, 6),
                new Match(27, 3, "Krasnodar", "Rostov", 2, 1),
                new Match(27, 4, "Zenit", "Lokomotiv", 3, 1),
                new Match(27, 5, "Spartak", "KS", 2, 1),
                new Match(27, 6, "Khimki", "Ufa", 1, 1),
                new Match(27, 7, "Akhmat", "CSKA", 2, 0),
                new Match(27, 8, "Arsenal", "NN", 2, 2),

                new Match(28, 1, "KS", "Dinamo", 5, 2),
                new Match(28, 2, "Ural", "Spartak", 1, 3),
                new Match(28, 3, "Zenit", "Khimki", 1, 0),
                new Match(28, 4, "NN", "Akhmat", 0, 1),
                new Match(28, 5, "CSKA", "Sochi", 0, 1),
                new Match(28, 6, "Ufa", "Rostov", 0, 0),
                new Match(28, 7, "Arsenal", "Krasnodar", 1, 1),
                new Match(28, 8, "Lokomotiv", "Rubin", 1, 0),

                new Match(29, 1, "Sochi", "NN", 0, 0),
                new Match(29, 2, "Ufa", "Arsenal", 2, 1),
                new Match(29, 3, "Rostov", "Khimki", 2, 1),
                new Match(29, 4, "Lokomotiv", "Dinamo", 3, 3),
                new Match(29, 5, "Akhmat", "KS", 1, 0),
                new Match(29, 6, "Ural", "Rubin", 3, 0),
                new Match(29, 7, "Spartak", "Zenit", 1, 1),
                new Match(29, 8, "Krasnodar", "CSKA", 1, 0),

                new Match(30, 1, "Krasnodar", "Akhmat", 1, 1),
                new Match(30, 2, "KS", "Lokomotiv", 0, 1),
                new Match(30, 3, "CSKA", "Rostov", 4, 0),
                new Match(30, 4, "Dinamo", "Sochi", 1, 5),
                new Match(30, 5, "Rubin", "Ufa", 1, 2),
                new Match(30, 6, "Arsenal", "Ural", 1, 2),
                new Match(30, 7, "NN", "Zenit", 1, 0),
                new Match(30, 8, "Khimki", "Spartak", 2, 1),
        };
        for (int i = 30; i <= 30; i++)
        {
            ShowTable(matches.Where(x => x.Tour <= i).ToArray());
        }
    }

    void ShowTable(Match[] matches)
    {
        var teams = matches.Select(x => x.Team1).Union(matches.Select(x => x.Team2)).Distinct().OrderBy(x => x).ToArray();
        var tables = new List<TableElement>();

        var teamsInOrder = new OrderTeam[]
        {
                new OrderTeam{Number = 1, Team = "Zenit"},
                new OrderTeam{Number = 2, Team = "Spartak"},
                new OrderTeam{Number = 3, Team = "Lokomotiv"},
                new OrderTeam{Number = 4, Team = "Rubin"},
                new OrderTeam{Number = 5, Team = "Sochi"},
                new OrderTeam{Number = 6, Team = "CSKA"},
                new OrderTeam{Number = 7, Team = "Dinamo"},
                new OrderTeam{Number = 8, Team = "Khimki"},
                new OrderTeam{Number = 9, Team = "Rostov"},
                new OrderTeam{Number = 10, Team = "Krasnodar"},
                new OrderTeam{Number = 11, Team = "Akhmat"},
                new OrderTeam{Number = 12, Team = "Ural"},
                new OrderTeam{Number = 13, Team = "Ufa"},
                new OrderTeam{Number = 14, Team = "Arsenal"},
                new OrderTeam{Number = 15, Team = "KS"},
                new OrderTeam{Number = 16, Team = "NN"}
        };

        foreach (var team in teams)
        {
            var matchesWithTeam = matches.Where(x => x.Team1 == team || x.Team2 == team).ToArray();
            int wins = matchesWithTeam.Count(x => (x.Team1 == team && x.Goals1 > x.Goals2) || (x.Team2 == team && x.Goals2 > x.Goals1)),
                draws = matchesWithTeam.Count(x => x.Goals1 == x.Goals2),
                loses = matchesWithTeam.Count(x => (x.Team1 == team && x.Goals1 < x.Goals2) || (x.Team2 == team && x.Goals2 < x.Goals1)),
                scored = matchesWithTeam.Where(x => x.Team1 == team).Select(x => x.Goals1).Sum() + matchesWithTeam.Where(x => x.Team2 == team).Select(x => x.Goals2).Sum(),
                missed = matchesWithTeam.Where(x => x.Team1 == team).Select(x => x.Goals2).Sum() + matchesWithTeam.Where(x => x.Team2 == team).Select(x => x.Goals1).Sum();
            tables.Add(new TableElement
                {
                    Team = team,
                    Matches = matchesWithTeam.Length,
                    Wins = wins,
                    Draws = draws,
                    Loses = loses,
                    GoalsScored = scored,
                    GoalsMissed = missed,
                    GoalsDifference = scored - missed,
                    Points = wins * 3 + draws
                });
        }
        var sortedByPts = tables
            .OrderByDescending(x => x.Points)
            .ToList();
        var sortedByTeamPtsCopy = sortedByPts.GetRange(0, sortedByPts.Count);
        var nonUniquePts = sortedByPts.GroupBy(x => x.Points).Where(x => x.Count() > 1);
        foreach (var group in nonUniquePts) //Распределяем тех, у кого равенство по очкам
        {
            var indexes = new List<int>();
            foreach (var team in group)
            {
                indexes.Add(sortedByPts.IndexOf(team));
            }
            var teamsInGroup = group.Select(x => x.Team).ToArray();
            var matchesToCompare = matches.Where(x => teamsInGroup.Contains(x.Team1) && teamsInGroup.Contains(x.Team2)).ToArray();
            var compareTable = new List<TableElement>();
            foreach (var team in teamsInGroup)
            {
                var matchesWithThisTeam = matchesToCompare.Where(x => x.Team1 == team || x.Team2 == team).ToArray();
                if (matchesWithThisTeam.Length != 0)
                {
                    int wins = matchesWithThisTeam.Count(x =>
                            (x.Team1 == team && x.Goals1 > x.Goals2) || (x.Team2 == team && x.Goals2 > x.Goals1)),
                        draws = matchesWithThisTeam.Count(x => x.Goals1 == x.Goals2),
                        loses = matchesWithThisTeam.Count(x =>
                            (x.Team1 == team && x.Goals1 < x.Goals2) || (x.Team2 == team && x.Goals2 < x.Goals1)),
                        scored = matchesWithThisTeam.Where(x => x.Team1 == team).Select(x => x.Goals1).Sum() +
                                 matchesWithThisTeam.Where(x => x.Team2 == team).Select(x => x.Goals2).Sum(),
                        missed = matchesWithThisTeam.Where(x => x.Team1 == team).Select(x => x.Goals2).Sum() +
                                 matchesWithThisTeam.Where(x => x.Team2 == team).Select(x => x.Goals1).Sum();

                    compareTable.Add(new TableElement
                        {
                            Team = team,
                            Matches = matchesWithThisTeam.Length,
                            Wins = wins,
                            Draws = draws,
                            Loses = loses,
                            GoalsScored = scored,
                            GoalsMissed = missed,
                            GoalsDifference = scored - missed,
                            Points = wins * 3 + draws
                        });
                }
            }

            if (compareTable.Count != 0 && compareTable.Count == teamsInGroup.Length)
            {
                compareTable = compareTable
                    .OrderByDescending(x => x.Points)
                    .ThenByDescending(x => x.Wins)
                    .ThenByDescending(x => x.GoalsDifference)
                    .ThenByDescending(x => x.GoalsScored)
                    .ToList();

                for (int j = 0; j < teamsInGroup.Count(); j++)
                {
                    sortedByPts[indexes[j]] = sortedByTeamPtsCopy.First(x => x.Team == compareTable[j].Team);
                }
            }
            else
            {
                var sortedGroupByAllMatches = group
                                                .OrderByDescending(x => x.Wins)
                                                .ThenByDescending(x => x.GoalsDifference)
                                                .ThenByDescending(x => x.GoalsScored)
                                                .ThenBy(x => teamsInOrder.FirstOrDefault(y => y.Team == x.Team).Number)
                                                .ToArray();
                //Прописать перепосев мест
                for (int j = 0; j < group.Count(); j++)
                {
                    sortedByPts[indexes[j]] = sortedByTeamPtsCopy.First(x => x.Team == sortedGroupByAllMatches[j].Team);
                }
            }
        }
        finishedTable = sortedByPts;
        var sortedTable = sortedByPts
            .Select((x, index) => $"{index + 1,2} | {x.Team,15} | {x.Matches,2} | {x.Wins,2} | {x.Draws,2} | {x.Loses,2} | {x.GoalsScored,2} | {x.GoalsMissed,2} | {(x.GoalsDifference != 0 ? (x.GoalsDifference > 0 ? "+" : "-") : "") + Math.Abs(x.GoalsDifference),3} | {x.Points,2}{(x.IsNeedToPlayAddMatches ? "*" : "")} |")
            .ToArray();
        Console.WriteLine($"{"#",2} | {"Команда",15} | {"И",2} | {"В",2} | {"Н",2} | {"П",2} | {"ГЗ",2} | {"ГП",2} | {"РГ",3} | {"О",2} |");
        Console.WriteLine(new string('-', 63));
        Console.WriteLine(string.Join("\n", sortedTable));
    }

    class TableElement
    {
        public string Team { get; set; }
        public int Matches { get; set; }
        public int Wins { get; set; }
        public int Draws { get; set; }
        public int Loses { get; set; }
        public int GoalsScored { get; set; }
        public int GoalsMissed { get; set; }
        public int GoalsDifference { get; set; }
        public int Points { get; set; }
        public bool IsNeedToPlayAddMatches { get; set; }
    }
    class Match
    {
        public Match(int tour, int match, string t1, string t2, int g1, int g2)
        {
            Tour = tour;
            Game = match;
            Team1 = t1;
            Team2 = t2;
            Goals1 = g1;
            Goals2 = g2;
        }
        public int Tour { get; set; }
        public int Game { get; set; }
        public string Team1 { get; set; }
        public string Team2 { get; set; }
        public int Goals1 { get; set; }
        public int Goals2 { get; set; }
    }

    class OrderTeam
    {
        public int Number { get; set; }
        public string Team { get; set; }
    }

    private string GetSign(int rowPoints)
    {
        return finishedTable.Count(x => x.Points == rowPoints) > 1 ? "*" : "";
    }

}
